*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

body {
	background-color: #ffffe0;
}
#grid-container{
    width: 491px;
    height: 491px;
    /* margin: 50px auto; */
    border: 10px dashed skyblue;
}
.grid-cell{
    width: 110px;
    height: 110px;
    border: 5px solid rgb(54, 226, 54);
    float: left;
    margin: 1px;
    border-radius: 6px;
}