*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
    background-color: rgb(165, 123, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.whole{
    width: 30%;
    height: 100%;
    border: 6px solid rgb(24, 1, 1);
}

/* 头部 */
.header{
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.header_left{
    float: left;
}
.topic{
    font-size: 2em;
}
.header_right{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}
#btn{
    width: 140px;
    height: 40px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 1em;
    font-family: '楷体';
    box-shadow: darkgray;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* 主体 */
.center{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 8px 8px;
    margin-top: 30px;
    border-top: 4px solid black;
    background-color: rgba(175, 116, 49, 0.582);
    /* background-color: rgba(255, 136, 0, 0.582); */
}
.grid-cell{
    width: 100%;
    height: 100%;
    line-height: 100px; /* 实现数字垂直居中 */
    border: 1px solid black;
    font-size: 2em;
}